@import url('https://fonts.googleapis.com/css2?family=REM:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=REM:wght@200&display=swap');
body, html {
    font-family: 'REM', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #222120;
    padding: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    background: url('https://img.freepik.com/free-vector/pack-flat-catering-logo-templates_23-2148999601.jpg') no-repeat;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0px; 
    bottom: 0px;
    left: 0px;
}
.navbar-container {
    @media screen and (max-width: 1045px) {
        display: none;
    }
}
.navbar-brand{
    display: flex;
    align-items: center;
}
.navbar-brand h1 {
    position: absolute;
    top: 15px; 
    bottom: 10px;
    left: 130px;
    color: gold;
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    line-height: .75;
}
span {
    position: absolute;
    top: 80px; 
    bottom: 30px;
    left: 130px;
    color: gold;
    font-size: 1.2em;
}
.toggle-icon {
    width: 30px; 
    height: 2px;
    background: gold;
    cursor: pointer;
    border: 2px solid black;
    padding: 2px;
    @media screen and (min-width: 1045px) {
    display: none;
}
}
.navbar-container a {
    margin: 5px;
    display: inline;
    color: gold;
    font-size: 1.3em;
    font-family: 'REM', sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.jumbotron {
    background-image: url('https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cmVzdGF1cmFudHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80');
    background-size: cover;
    background-position: center;
    height: 810px;
}
.home-container {
    position: relative;
}
.menu-container h3 {
    font-family: 'Borel', cursive;
    text-align: center;
}
.menu-container h3, hr {
    width: 370px;
}
.menu-content{
    background-color : rgb(244, 218, 158);
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
}
.menu-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 200px;
}
.dish {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid grey;
    width: 400px;
    border-top: 1px solid grey;
    padding: 10px 0px;
    cursor: pointer;

}
.dish-image {
    max-width: 100px;
    height: 90px;
    margin-right: 20px;
}
.description {
    flex: 1;
}
.description p {
    margin: 0;
    font-weight: 500;
}
.description hr {
    width: 250px;
    color: #080707;
}
body.about-content {
    background-color: rgb(244, 218, 158);
    position: relative;
    padding-bottom: 100px;
}
.about-page h1 {
    margin-bottom: 0;
    text-align: center;
    font-size: 30px;
    font-family: 'Borel', cursive;
}
.about-page p{
    text-align: center;
    font-weight: bold;
    font-size: large;
}
.about-page-img {
    display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center;
}
.about-page-img img {
    width: 400px;
    height: 400px;
    border: 2px rgb(151, 160, 157); 
    border-radius: 10px;
    /* object-fit: cover;  */
    margin: 10px;
    align-items: center;
}
.about-page-img p{
    width: 300px;
    text-align: center;
    font-size: medium;
    margin-left: 20px;
}
.about-page-img1 {
    display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center;
}
.about-page-img1 img {
    width: 400px;
    height: 400px;
    border: 2px rgb(151, 160, 157); 
    border-radius: 10px;
    /* object-fit: cover;  */
    margin: 10px;
    align-items: center;
}
.about-page-img1 p{
    width: 300px;
    text-align: center;
    font-size: medium;
    margin-left: 20px;
}
.about-content .sustainable h2 {
    text-align: center;
    font-size: 30px;
    color: #222120;
    margin-top: 100px;
}
.about-content .sustainable h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Borel', cursive;
    margin-bottom: 0;
}
.about-content .sustainable p {
    text-align: center;
    font-size: x-large;
    /* width: 1000px; */
}
.location-content {
    background-color: rgb(244, 218, 158);
    position: relative;
    padding-bottom: 200px;
}
.location-container {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 50px;
}
.location-page h2, .location-page2 h2 {
    margin: 10px;
    font-size: 50px;
    font-family: 'Borel', cursive;
}
.location-page ul, .location-page2 ul {
    list-style: none;
    padding: 0;
    flex-direction: column;
}
.location-page li, .location-page2 li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.location-page li img, .location-page2 li img {
    margin: 10px;
    width: 80px;
    height: 65px;
}
.location-page p, .location-page2 p {
    font-size: larger;
    font-weight: bold;
}
.contact-content {
    background-color: rgb(244, 218, 158);
}
.reservation-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}
.reservation-container h2 {
    font-family: 'Borel', cursive;
    text-align: center;
    margin-bottom: 20px;
    /* color: #333; */
}
.form {
    display: flex;
    flex-direction: column;
} 
.form-group {
    margin-bottom: 15px;
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: #2e3149;
}
input[type="date"],
input[type="time"],
input[type="text"],
input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
button {
    background-color: black;
    color: gold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} 
.footer {
    background-color: #1e1d1d;
    color: #fdfbfb;
    padding: 2px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

  
  
  
  
  
  
  
  
  
  